{% extends "main/base.html" %}{% block contentmain %}

<!-- crumbs section start -->
<section id="crumbs">
    <div class="container crumbs-bread">
        <div class="row align-items-center justify-content-between">
            <div class="col-auto">
                <div class="crumbs-info">
                    <span class="crumbs-home"><a href="/">Home</a></span> <i class="fas fa-angle-right"></i>
                    <span class="crumbs-about">Our Team</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- crumbs section end -->

<!-- Team-info section start -->
<section id="teaminfo" class="section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-heading">
                    <span class="section-heading-span">WHO WE ARE</span>
                    <h2 class="section-heading-h2">
                        Meet The Team</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-3 team-box">
                <div class="team-item">
                    <div class="team-img"><img src="/static/uploads/Alexa_Janathon5129.jpg" alt=""></div>
                    <div class="team-con">
                        <ul class="team-social-media">
                            <li>
                                <a href="#!" title="Facebook"><i class="fab fa-facebook-f"></i>
                                    </a>
                            </li>
                            <li>
                                <a href="#!" title="Instagram"><i class="fab fa-instagram"></i>
                                    </a>
                            </li>
                            <li>
                                <a href="#!" title="LinkedIn"><i class="fab fa-linkedin-in"></i>
                                    </a>
                            </li>
                            <li>
                                <a href="#!" title="Twitter"><i class="fab fa-twitter"></i>
                                    </a>
                            </li>
                        </ul>
                        <div class="team-info-title">
                            <h4>Mary Lee</h4>
                            <p>Software Developer</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 team-box">
                <div class="team-item">
                    <div class="team-img"><img src="/static/uploads/Mary_Lee6298.jpg" alt=""></div>
                    <div class="team-con">
                        <ul class="team-social-media">
                            <li>
                                <a href="#!" title="Facebook"><i class="fab fa-facebook-f"></i>
                                    </a>
                            </li>
                            <li>
                                <a href="#!" title="Instagram"><i class="fab fa-instagram"></i>
                                    </a>
                            </li>
                            <li>
                                <a href="#!" title="LinkedIn"><i class="fab fa-linkedin-in"></i>
                                    </a>
                            </li>
                            <li>
                                <a href="#!" title="Twitter"><i class="fab fa-twitter"></i>
                                    </a>
                            </li>
                        </ul>
                        <div class="team-info-title">
                            <h4>Ryan Wilson</h4>
                            <p>CEO</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 team-box">
                <div class="team-item">
                    <div class="team-img"><img src="/static/uploads/Janathon_Smith5318.jpg" alt=""></div>
                    <div class="team-con">
                        <ul class="team-social-media">
                            <li>
                                <a href="#!" title="Facebook"><i class="fab fa-facebook-f"></i>
                                    </a>
                            </li>
                            <li>
                                <a href="#!" title="Instagram"><i class="fab fa-instagram"></i>
                                    </a>
                            </li>
                            <li>
                                <a href="#!" title="LinkedIn"><i class="fab fa-linkedin-in"></i>
                                    </a>
                            </li>
                            <li>
                                <a href="#!" title="Twitter"><i class="fab fa-twitter"></i>
                                    </a>
                            </li>
                        </ul>
                        <div class="team-info-title">
                            <h4>Sam Robinson</h4>
                            <p>Senior Developer</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 team-box">
                <div class="team-item">
                    <div class="team-img"><img src="/static/uploads/Alexa_j_Watson8562.jpg" alt=""></div>
                    <div class="team-con">
                        <ul class="team-social-media">
                            <li>
                                <a href="#!" title="Facebook"><i class="fab fa-facebook-f"></i>
                                    </a>
                            </li>
                            <li>
                                <a href="#!" title="Instagram"><i class="fab fa-instagram"></i>
                                    </a>
                            </li>
                            <li>
                                <a href="#!" title="LinkedIn"><i class="fab fa-linkedin-in"></i>
                                    </a>
                            </li>
                            <li>
                                <a href="#!" title="Twitter"><i class="fab fa-twitter"></i>
                                    </a>
                            </li>
                        </ul>
                        <div class="team-info-title">
                            <h4>Jill Peterson</h4>
                            <p> Senior Developer</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 team-box">
                <div class="team-item">
                    <div class="team-img"><img src="/static/uploads/Janathon_Smith5318.jpg" alt=""></div>
                    <div class="team-con">
                        <ul class="team-social-media">
                            <li>
                                <a href="#!" title="Facebook"><i class="fab fa-facebook-f"></i>
                                    </a>
                            </li>
                            <li>
                                <a href="#!" title="Instagram"><i class="fab fa-instagram"></i>
                                    </a>
                            </li>
                            <li>
                                <a href="#!" title="LinkedIn"><i class="fab fa-linkedin-in"></i>
                                    </a>
                            </li>
                            <li>
                                <a href="#!" title="Twitter"><i class="fab fa-twitter"></i>
                                    </a>
                            </li>
                        </ul>
                        <div class="team-info-title">
                            <h4>Ryan Wilson</h4>
                            <p>CEO</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 team-box">
                <div class="team-item">
                    <div class="team-img"><img src="/static/uploads/Mary_Lee6298.jpg" alt=""></div>
                    <div class="team-con">
                        <ul class="team-social-media">
                            <li>
                                <a href="#!" title="Facebook"><i class="fab fa-facebook-f"></i>
                                    </a>
                            </li>
                            <li>
                                <a href="#!" title="Instagram"><i class="fab fa-instagram"></i>
                                    </a>
                            </li>
                            <li>
                                <a href="#!" title="LinkedIn"><i class="fab fa-linkedin-in"></i>
                                    </a>
                            </li>
                            <li>
                                <a href="#!" title="Twitter"><i class="fab fa-twitter"></i>
                                    </a>
                            </li>
                        </ul>
                        <div class="team-info-title">
                            <h4>Sam Robinson</h4>
                            <p>Senior Developer</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 team-box">
                <div class="team-item">
                    <div class="team-img"><img src="/static/uploads/Alexa_Janathon5129.jpg" alt=""></div>
                    <div class="team-con">
                        <ul class="team-social-media">
                            <li>
                                <a href="#!" title="Facebook"><i class="fab fa-facebook-f"></i>
                                    </a>
                            </li>
                            <li>
                                <a href="#!" title="Instagram"><i class="fab fa-instagram"></i>
                                    </a>
                            </li>
                            <li>
                                <a href="#!" title="LinkedIn"><i class="fab fa-linkedin-in"></i>
                                    </a>
                            </li>
                            <li>
                                <a href="#!" title="Twitter"><i class="fab fa-twitter"></i>
                                    </a>
                            </li>
                        </ul>
                        <div class="team-info-title">
                            <h4>Jill Peterson</h4>
                            <p> Senior Developer</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 team-box">
                <div class="team-item">
                    <div class="team-img"><img src="/static/uploads/Janathon_Smith5318.jpg" alt=""></div>
                    <div class="team-con">
                        <ul class="team-social-media">
                            <li>
                                <a href="#!" title="Facebook"><i class="fab fa-facebook-f"></i>
                                    </a>
                            </li>
                            <li>
                                <a href="#!" title="Instagram"><i class="fab fa-instagram"></i>
                                    </a>
                            </li>
                            <li>
                                <a href="#!" title="LinkedIn"><i class="fab fa-linkedin-in"></i>
                                    </a>
                            </li>
                            <li>
                                <a href="#!" title="Twitter"><i class="fab fa-twitter"></i>
                                    </a>
                            </li>
                        </ul>
                        <div class="team-info-title">
                            <h4>Mary Lee</h4>
                            <p>Software Developer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team-info section end -->

{% endblock %}