{% extends "main/base.html" %}{% block contentmain %}


<!-- crumbs section start -->
<section id="crumbs">
    <div class="container crumbs-bread">
        <div class="row align-items-center justify-content-between">
            <div class="col-auto">
                <div class="crumbs-info">
                    <span class="crumbs-home"><a href="/">Home</a></span> <i class="fas fa-angle-right"></i>
                    <span class="crumbs-about">Testimonials</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- crumbs section end -->

<!-- Feedback section start -->
<div class="feedback">
    <div class="container section-padding ">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h2 class="section-heading-h2">Feedback</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form action="/testimonials" class="contact-form" method='POST' enctype="multipart/form-data">
                    <div class="row ">
                        <div class="col-4">
                            <input type="text" name="clientname" placeholder="Your Name and Surname" class="form">
                        </div>
                        <div class="col-4">
                            <input type="email" name="clientemail" placeholder="Your Email" class="form">
                        </div>
                        <div class="col-4">
                            <input type="file" name="clientphoto" placeholder="Your Photo" class="formfile">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <textarea cols="30" rows="8" name="clientmessage" placeholder="Your Message"
                                class="textarea"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 d-flex justify-content-start">
                            <div class="bttn-row testimonalssubmit" style="margin-top:20px;">
                                <button type="submit" class="bttn testimonalssubmit">Send Feedback</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Feedback section end -->

<!-- Clients section start -->
<section id="client" class="client">
    <div class="container section-padding">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h2 class="section-heading-h2">Testimonials</h2>
                </div>
            </div>
        </div>
        <div class="row d-block">
            {% for testimonial in testimonials %}
            <div class="col-12 team-box">
                <div class="client-item">
                    <div class="client-title">
                        <div class="client-img"><img src="static/uploads/{{testimonial.clientphoto}}" alt=""></div>
                        <div class="client-name">
                            <h4>{{testimonial.clientname}}</h4>
                            <p>Regular client</p>
                        </div>
                    </div>
                    <div class="client-info">
                        <p>{{testimonial.clientmessage}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
</section>
<!-- Clients section end -->


{% endblock %}