{% extends "admin/base.html" %}


{% block content %}
<div class="adminright">
    <h3 class="my-3" style="text-align: center;">Client Heading Add</h3>
    <hr>
    <div class="container marg">
        <div class="row justify-content-center">
            <div class="col-9 ">
                <form action="{{url_for('clientheadingAdd')}}" method='POST'>
                    {{ form.client_subheading(class="form-control my-2",placeholder="Enter: Client SubHeading")}}
                    {{ form.client_title(class="form-control my-2",placeholder="Enter: Client Heading")}}
                    {{ form.submit(value='Add Client Heading',class='btn btn-primary btn-lg btn-block')}}
                </form>
            </div>
        </div>
    </div>


    <!-- =====Client Heading Start==== -->
    <div class="container marg">
        <div class="row justify-content-center">
            <div class="col-9 ">
                <table class="table table-hover " style="margin:35px 0px; border:1px solid rgba(0,0,0,.075);">
                    <thead>
                        <tr style="background-color: rgba(0,0,0,.075); color:blue">
                            <th scope="col">id</th>
                            <th scope="col">Text</th>
                            <th scope="col">Title</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for clientheading in clientheadings %}
                        <tr>
                            <td scope="row">{{clientheading.id}}</td>
                            <td>{{clientheading.client_subheading}}</td>
                            <td>{{clientheading.client_title}}</td>
                            <td>
                                <a href="{{url_for('clientheadingDelete', id=clientheading.id)}}"><i
                                        class="bi bi-trash-fill"></i></a>
                                <a href="{{url_for('clientheadingUpdate', id=clientheading.id)}}"><i
                                        class="bi bi-pencil-square"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- =====Client Heading End==== -->
</div>
{% endblock %}