{% extends "admin/base.html" %}


{% block content %}
<div class="adminright">
    <h3 class="my-3" style="text-align: center;">Contact Heading Update</h3>
    <hr>
    <div class="container marg">
        <div class="row justify-content-center">
            <div class="col-9">
                <form action="{{url_for('contactheadingUpdate',id=contactheading.id)}}" method='POST'>
                    {{ form.contact_subheding(class="form-control my-2",placeholder="Enter:Subheading",
                    value=contactheading.contact_subheding)}}
                    {{ form.contact_heading(class="form-control my-2",placeholder="Enter: Heading",
                    value=contactheading.contact_heading)}}
                    {{ form.submit(value='Update Contact Heading',class='btn btn-secondary btn-lg btn-block')}}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}