{% extends "admin/base.html" %}


{% block content %}
<div class="adminright">
    <h3 class="my-3" style="text-align: center;">Customer Heading Update</h3>
    <hr>
    <div class="container marg">
        <div class="row justify-content-center">
            <div class="col-9">
                <form action="{{url_for('customerheadingUpdate', id=customerheading.id)}}" method='POST'>
                    {{ form.customer_subheding(class="form-control my-2",placeholder="Enter: SubHeading",
                    value=customerheading.customer_subheding)}}
                    {{ form.customer_heading(class="form-control my-2",placeholder="Enter: Heading",
                    value=customerheading.customer_heading)}}
                    <textarea name="customer_desc" id="" cols="10" rows="5"
                        class="form-control my-2">{{customerheading.customer_desc}}</textarea>
                    {{ form.submit(value='Update Heading',class='btn btn-secondary btn-lg btn-block')}}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}