{% extends "admin/base.html" %}


{% block content %}
<div class="adminright">
    <h3 class="my-3" style="text-align: center;">Gallery Heading Add</h3>
    <hr>
    <div class="container marg">
        <div class="row justify-content-center">
            <div class="col-9">
                <form action="{{url_for('galleryheadingAdd')}}" method='POST'>
                    {{ form.gallery_subheding(class="form-control my-2",placeholder="Enter:Subheading")}}
                    {{ form.gallery_heading(class="form-control my-2",placeholder="Enter: Heading")}}
                    {{ form.submit(value='Add Gallery Heading',class='btn btn-primary btn-lg btn-block')}}
                </form>
            </div>
        </div>
    </div>
    <!-- =====Gallery Heading End==== -->
    <div class="container marg">
        <div class="row justify-content-center">
            <div class="col-9 ">
                <table class="table table-hover " style="margin:35px 0px; border:1px solid rgba(0,0,0,.075);">
                    <thead>
                        <tr style="background-color: rgba(0,0,0,.075); color:blue">
                            <th scope="col">id</th>
                            <th scope="col">Heading</th>
                            <th scope="col">Subheading</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for galleryheading in galleryheadings %}
                        <tr>
                            <td scope="row">{{galleryheading.id}}</td>
                            <td>{{galleryheading.gallery_subheding}}</td>
                            <td>{{galleryheading.gallery_heading}}</td>
                            <td>
                                <a href="{{url_for('galleryheadingDelete',id=galleryheading.id)}}"><i
                                        class="bi bi-trash-fill"></i></a>
                                <a href="{{url_for('galleryheadingUpdate',id=galleryheading.id)}}"><i
                                        class="bi bi-pencil-square"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- =====Gallery Heading Start==== -->
</div>
{% endblock %}