{% extends "admin/base.html" %}


{% block content %}
<div class="adminright">
    <h3 class="my-3" style="text-align: center;">Gallery Box Add</h3>
    <hr>
    <div class="container marg">
        <div class="row justify-content-center">
            <div class="col-9">
                <form action="{{url_for('galleryboxAdd')}}" method='POST' enctype="multipart/form-data">
                    {{ form.gallerybox_title(class="form-control my-2",placeholder="Enter: Gallery Box Title")}}
                    {{ form.gallerybox_img(class="form-control-file my-2")}}
                    {{ form.submit(value='Add Gallery Image',class='btn btn-primary btn-lg btn-block')}}
                </form>
            </div>
        </div>
    </div>
    <!-- =====Gallery Box End==== -->
    <div class="container marg">
        <div class="row justify-content-center">
            <div class="col-9 ">
                <table class="table table-hover " style="margin:35px 0px; border:1px solid rgba(0,0,0,.075);">
                    <thead>
                        <tr style="background-color: rgba(0,0,0,.075); color:blue">
                            <th scope="col">id</th>
                            <th scope="col">Title</th>
                            <th scope="col">Image</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for gallerybox in galleryboxs %}
                        <tr>
                            <td scope="row">{{gallerybox.id}}</td>
                            <td>{{gallerybox.gallerybox_title}}</td>
                            <td>{{gallerybox.gallerybox_img}}</td>
                            <td>
                                <a href="{{url_for('galleryboxDelete',id=gallerybox.id)}}"><i
                                        class="bi bi-trash-fill"></i></a>
                                <a href="{{url_for('galleryboxUpdate',id=gallerybox.id)}}"><i
                                        class="bi bi-pencil-square"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- =====Gallery Box Start==== -->
</div>
{% endblock %}