{% extends "admin/base.html" %}


{% block content %}
<div class="adminright">
    <h3 class="my-3" style="text-align: center;">Reason Item Update</h3>
    <hr>
    <div class="container marg">
        <div class="row justify-content-center">
            <div class="col-9">
                <form action="{{url_for('reasonItemUpdate',id=reasonitem.id)}}" method='POST'>
                    {{ form.reasonitem_number(class="form-control my-2",placeholder="Enter:Number",
                    value=reasonitem.reasonitem_number)}}
                    {{ form.reasonitem_title(class="form-control my-2",placeholder="Enter: Title",
                    value=reasonitem.reasonitem_title)}}
                    {{ form.reasonitem_text(class="form-control my-2",placeholder="Enter: Text",
                    value=reasonitem.reasonitem_text)}}
                    {{ form.submit(value='Update Reason Item',class='btn btn-secondary btn-lg btn-block')}}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}