{% extends "admin/base.html" %}


{% block content %}
<div class="adminright">
    <h3 class="my-3" style="text-align: center;">Service Button Add</h3>
    <hr>
    <div class="container marg">
        <div class="row justify-content-center">
            <div class="col-9 ">
                <form action="{{url_for('serviceBttnAdd')}}" method='POST'>
                    {{ form.servbttn_title(class="form-control my-2",placeholder="Enter: Service Button Title")}}
                    {{ form.servbttn_icon(class="form-control my-2",placeholder="Enter: Service Button Icon")}}
                    {{ form.servbttn_url(class="form-control my-2",placeholder="Enter: Service Button Link")}}
                    {{ form.submit(value='Add Service Button',class='btn btn-primary btn-lg btn-block')}}
                </form>
            </div>
        </div>
    </div>


    <!-- =====Services Button Start==== -->
    <div class="container marg">
        <div class="row justify-content-center">
            <div class="col-9 ">
                <table class="table table-hover " style="margin:35px 0px; border:1px solid rgba(0,0,0,.075);">
                    <thead>
                        <tr style="background-color: rgba(0,0,0,.075); color:blue">
                            <th scope="col">id</th>
                            <th scope="col">Title</th>
                            <th scope="col">Icon Name</th>
                            <th scope="col">Url</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for servicebttn in servicebttns %}
                        <tr>
                            <td scope="row">{{servicebttn.id}}</td>
                            <td>{{servicebttn.servbttn_title}}</td>
                            <td>{{servicebttn.servbttn_icon}}</td>
                            <td>{{servicebttn.servbttn_url}}</td>
                            <td>
                                <a href="{{url_for('serviceBttnDelete', id=servicebttn.id)}}"><i
                                        class="bi bi-trash-fill"></i></a>
                                <a href="{{url_for('serviceBttnUpdate', id=servicebttn.id)}}"><i
                                        class="bi bi-pencil-square"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- =====Services Button End==== -->
{% endblock %}