{% extends "admin/base.html" %}


{% block content %}
<div class="adminright">
    <h3 class="my-3" style="text-align: center;">Service Heading Update</h3>
    <hr>

    <div class="container marg">
        <div class="row justify-content-center">
            <div class="col-9 ">
                <form action="{{url_for('serviceHeadingUpdate', id=serviceheading.id)}}" method='POST'>
                    {{ form.service_subheading(class="form-control my-2",placeholder="Enter: Service
                    SubHeading",value=serviceheading.service_subheading)}}
                    {{ form.service_title(class="form-control my-2",placeholder="Enter: Service
                    Heading",value=serviceheading.service_title )}}
                    {{ form.submit(value='Update Service Heading',class='btn btn-secondary btn-lg btn-block')}}
                </form>
            </div>
        </div>
    </div>

</div>
{% endblock %}