{% extends "admin/base.html" %} {% block content %}
<div class="adminright">
    <h3 class="my-3" style="text-align: center;">Teachers</h3>
    <hr>
    <!-- ===== Start==== -->
    <div class="container marg">
        <div class="row justify-content-center">
            <div class="col-11 ">
                <table class="table table-hover " style="margin:35px 0px; border:1px solid rgba(0,0,0,.075);">
                    <thead>
                        <tr style="background-color: rgba(0,0,0,.075); color:blue">
                            <th scope="col">id</th>
                            <th scope="col">User Name </th>
                            <th scope="col">Password</th>
                            <th scope="col">Email</th>
                            <th scope="col">FullName</th>
                            <th scope="col">Image</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for teach in teachs %}
                        <tr>
                            <td scope="row">{{teach.id}}</td>
                            <td>{{teach.teachusername}}</td>
                            <td>{{teach.teachpassword}}</td>
                            <td>{{teach.teachemail}}</td>
                            <td>{{teach.teachfullname}}</td>
                            <td>{{teach.teachimg}}</td>
                            <td>
                                <a href="{{url_for('teacherDelete', id=teach.id)}}"><i
                                        class="bi bi-trash-fill"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- ===== End==== -->
{% endblock %}