{% extends "admin/base.html" %}


{% block content %}
<div class="adminright">
    <h3 class="my-3" style="text-align: center;">Teammate Image Update</h3>
    <hr>
    <div class="container ">
        <div class="row justify-content-center">
            <div class="col-9  ">
                <form action="{{url_for('teamboxUpdate', id=teambox.id)}}" method='POST' enctype="multipart/form-data">
                    {{ form.teammate_name(class="form-control my-2",placeholder="Enter: Teammate Name and Surname",
                    value=teambox.teammate_name)}}
                    {{ form.teammate_position(class="form-control my-2",placeholder="Enter:Teammate Position",
                    value=teambox.teammate_position)}}
                    {{ form.teammate_img(class="form-control-file my-2")}}
                    {{ form.submit(value='Update Teammate',class='btn btn-secondary btn-lg btn-block')}}
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}